<header class="b-header">
  <div class="container">
    <nav class="navbar is-transparent is-spaced">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="/assets/logo.png" alt="Awesome Rental Car">
          <span class="b-app__name">
            {{ appName }}
          </span>
        </a>
        <div class="navbar-burger burger" data-target="navbarAwesomeCartRental">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarAwesomeCartRental" class="navbar-menu">
        <div class="navbar-start">

        </div>

        <div class="navbar-end">
          <a class="navbar-item">
            Login
          </a>

          <a class="navbar-item">
            Logout
          </a>

        </div>
      </div>
    </nav>
  </div>

</header>

